<div class="panel-heading">
    <%= __("{ModelName}.list")%>
    <a href="#/new" class="panel-button"><%= __("new") %></a>
</div>

<div class="panel-body">
    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            {listTableHeader}
            </thead>
            <tbody>
            {listTableBody}
            </tbody>
        </table>
    </div>
</div>