
var {modelName} = require('./{modelName}');
app.get('/{modelName}',{modelName}.index);
app.post('/{modelName}',{modelName}.post);
app.get('/{modelName}/:id',{modelName}.get);
app.delete('/{modelName}/:id',{modelName}.delete);

